
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.vertical
{
  height: 280px;
  color: white;
  border-left: 5px solid white;
}
#leftDiv
{
  width: 1%;
  margin-left: 40%;
  
}
#rightDiv
{
  width: 40%;
}
.title {
  width: 50%;
  text-align: center;
  background-color: transparent;
  color: rgb(39, 36, 36);
  padding: 16px;
  margin-bottom: 2px;
  position: relative;
  transition: color .3s;
  height: 90px;
}
.title:hover {
  color: #9ea1a4;
}
.title::before,
.title::after {
  content: "";
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  z-index: -1;
  transform: scaleX(1);
  transition: transform .4s;
  top: 0;
}
.title::before {
  left: 0;
  transform-origin: top left;
}
.title::after {
  right: 0;
  transform-origin: top right;
}
.title:hover::before,
.title:hover::after {
  transform: scaleX(0);
}

.section {

  height: 85vh;
  opacity: 1;
  display:block;
  flex-direction: row;
  border-bottom: 15px solid rgba(103, 102, 102, 0.3);
}
.fadebackground {
  background-color: rgba(27, 27, 27, 0.4);
}

.background{
  /* background-image: url('https://picsum.photos/id/233/1920/1080?grayscale&blur=4');
   */
   background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}



.elementcontainer {
  width: 60vw;
  display: flex;
  position: relative;
  line-height: 50px;
  text-align: center;
}

.rightalign {
  right:0px;
  position: absolute;
  width: 30%;
  margin-top: 20px;
}

.leftalign {
  left: 40px;
  position: absolute;
  width: 80%;
  margin-top: 20px;
}


  @media screen  {

    #im1
    {
      /* width: 50%; */
      margin-top: 50px;
      max-width: 400px;
     
    }
 
   
   
  }
  
