
.navbar
{
 display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#current
{
  background-image: linear-gradient(to right,rgb(117, 21, 21),rgb(179, 135, 152));
}


.aboutme
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color:darkgreen;
  font-family: monospace;
  margin-bottom: 20px;
}
#code
{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: grey;
  
}
#aboutpara
{
  color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 200px 10px 850px ;
  font-size: 25px;
  font-family: serif;
}
.builtapps
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 50px;
  color:darkgreen ;
  font-family: monospace;
  
}

.skills
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color:darkgreen;
  font-family: monospace;
  
}

.dark .about 
{
  background-color: black;
}

.dark #aboutpara
{
  color: white;
}


#im1
{
  position: absolute;
  /* float: left; */
  width: 35%;
  margin: 0px 0px 5px 30px;
  top: 80px;
}
#im2
{
  display: none;
  width: 30%;
}
.dark #im1
{
  display: none;
}

.dark #im2
{
  /* margin-top: 20px;
  margin-left: 30px; */
  display: inline;
  border-color: black;
  border-radius: 15px;
  max-width: 500px;
  position: absolute;
  width:45%;
  margin: 0px 0px 5px 130px;
}

.dark #aboutpara
{
  position:relative;
  margin-top: 10px;
}

.dark .aboutme{
  color: rgb(11, 237, 151);
}
.dark  .skills
{
  color: rgb(11, 237, 151);
}
  .dark .builtapps{
    color: rgb(11, 237, 151);
  }


  
