
#left
{
  float: left;
  margin-left: 100px;
}

#icon
{
  font-size: 30px;
  margin:50px 0px 0px 40px ;
  font-family: serif;
}

.right
{
  position:absolute;
  right: 200px;
}

#input
{
  border: 1px solid lightgray;
  height: 30px;
  border-color: white;
}
.buttonsubmit
{
    width: 350px;
    height: 50px;
    margin: 45px 60px 50px 100px;
    padding: 10px 140px 10px 140px;
    font-size: 18px;
    border-radius: 15px;
    transition: 0.8s;
    color:white;
    cursor: pointer;
    background-image: none;
  background-color: black;
  border-color: aliceblue;
  
  }

.buttonsubmit:hover
{
  
  background-color:rgb(7, 7, 20) ;
  color: wheat;
}
#forminput
{
  border: 0.5px solid lightgray;
  padding:15px 200px 15px 10px;
  margin: 10px 0px 0px 100px;
  background-color: black;
  /* background-color: rgb(7, 7, 20); */
  color: white;
}

.contact
{
  color: white;
  background-color: black;
}



