
 .navbar
{
 display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  /* background-color: rgb(241, 246, 250); */
  background-color: rgb(245, 246, 247);
  
}

.insidenav
{
  text-decoration: none;
    padding: 5px 15px 5px 15px;
    margin-right: 20px;
    font-family: monospace;
    font-size: 40px;
    color: gray;
    cursor: pointer;
    border-radius: 15px;
}
.active
{
  
  color: black;
  background-image:linear-gradient(to right,rgb(52, 37, 37),rgb(179, 135, 152));

}


