
.app{
  font-size: 20px;
  color: white;
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  
}
.left
{
  float: left;
  margin: 20px 0px 0px 150px;
  width: 50%;
  
}
#name
{
  font-size: 60px;
  font-family: monospace;
  margin: 0px 20px 0px 20px;
  color: lightblue;
}


.i-title
{
  height: 50px;
  overflow: hidden;
}
.i-title-wrapper
{
  height:100%;
  -webkit-animation-name: move;
  animation: move 5s ease-in-out infinite alternate;
}
@-webkit-keyframes move 
{
  25%{
    transform: translateY(-50px);
  }
  50%{
    transform: translateY(-100px);
  }
  75%{
    transform: translateY(-150px);
  }
  100%{
    transform: translateY(-200px);
  }
}
@keyframes move {
  25%{
    transform: translateY(-50px);
  }
  50%{
    transform: translateY(-100px);
  }
  75%{
    transform: translateY(-150px);
  }
  100%{
    transform: translateY(-200px);
  }
  
}
.i-title-item
{
  font-weight: bold;
  height: 50px;
  color: green;
  align-items: center;
  font-size:40px ;
  display: flex;
}

#box
{
  margin-top: 5px;
  font-size: 28px;
  color: darkcyan;
  padding-top: 20px;
  padding-bottom:20px;
}
#ready
{
  color: rgb(11, 237, 151);
}
#mission{
  color: orangered;
} 
#cvbutton
{
  margin-top:5px;
  padding:10px 25px 10px 25px;
  border: 0.1px  ;
  border-radius: 15px;
  font-size:20px;
  color: white;
  cursor:pointer;
  transition-delay: 0.5s;
  background-color: rgb(7, 7, 20);
  border-color: wheat;
}

#cvbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#cvbutton span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#cvbutton:hover span {
  padding-right: 25px;
}

#cvbutton:hover span:after {
  opacity: 1; 
  right: 0;
}
/* #cvbutton:hover
{
  background-color: rgb(130, 49, 2);
  color: rgb(53, 52, 52);
} */

#icons
{
  margin-top: 20px;
  display: inline-block;
  -webkit-animation-name: float;
  animation: float 5s ease-in-out infinite ;
}
@-webkit-keyframes float 
{
  0%, 20%, 50%, 80%, 100% 
  {
    transform:translateY(0);
  }
  40%
  {
    transform:translateY(-30px);
  }
  60%
  {
    transform: translateY(-15px);
  }
  
}
@keyframes float {
  0%, 20%, 50%, 80%, 100% 
  {
    transform:translateY(0);
  }
  40%
  {
    transform:translateY(-30px);
  }
  60%
  {
    transform: translateY(-15px);
  }
}

  .fainsta
  {
    animation-delay: 5s;
  }
.falinked
{
  animation-delay: 15s;
}
.fagithub
{
  animation-delay: 30s;
}



.i-title .i-title-wrapper .i-title-item
{
  color: silver;
}
#box
{
  color: white;
}

#image2
{
  width: 30%;
 display: none;
 border-color: black;
 margin-top: 20px;
 margin-left: 30px;
 display: inline;
 border-radius: 15px;
}

@media screen  {

  #image2
  {
    /* width: 50%; */
    max-width: 500px;
  }
  
}

