.p
{
   width: 27%;
    margin: 30px 30px 0px 30px;
    height: 30vh;
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: top;
    border-radius:10px 10px 0px 0px ;
    overflow: hidden;
}

.p-img
{
    width: 200%;
}
